<section class="bg-grey-xl">
      <div
        class="cover bg-bottom"
        style="background-image: url(https://rothgov.github.io/design/images/mesh-footer-desktop.png); background-repeat: no-repeat;"
      >
        <div
          class="ph3 pv3 container center flex flex-column flex-row-l justify-between flex-start"
        >
          <div class="w-50-l pb5">
            <h3 class="f2 josefin ttu mb2">Useful Links</h3>
            <p class="f3 l-copy">
              For all the latest news and information about Rotherham Town
              Centre, please visit:
            </p>
            <ul class="list pl0 lh-copy">
              <li>
                <a
                  class="db pv2 link blue hover dim"
                  href="http://newforgeisland.co.uk/"
                  >Forge Island</a
                >
              </li>
              <li>
                <a
                  class="db pv2 link blue hover dim"
                  href="http://www.rotherhamtheatres.co.uk/"
                  >Rotherham Theatres</a
                >
              </li>
              <li>
                <a
                  class="db pv2 link blue hover dim"
                  href="https://archive.rotherham.gov.uk/events/"
                  >Rotherham Events</a
                >
              </li>
              <li>
                <a
                  class="db pv2 link blue hover dim"
                  href="http://www.rido.org.uk/"
                  >RiDO</a
                >
              </li>
              <li>
                <a
                  class="db pv2 link blue hover dim"
                  href="https://www.rotherham.ac.uk/"
                  >Rotherham College</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="ph3 ph5-l bg-grey-d white">
      <div class="pv4 container center tc tl-m tl-l">
        <div class="flex flex-column flex-row-l justify-between">
          <div class="w-third-l tc tl-l">
            <h3 class="mt2 mh3-l">
              <img
                alt="Rotherham Town Centre logo"
                class="w-80 w-60-m w-75-l"
                src="https://rothgov.github.io/transforming-rotherham/images/rotherham-town-centre-logo-white.svg"
                title="Rotherham Town Centre"
              />
            </h3>
          </div>
          <div class="w-third-l tc tl-l mh3-l">
            <h4 class="f3 josefin ttu mt4 mt2-m mt2-l mb0">Contact</h4>
            <ul class="lh-copy list pl0">
              <li class="mb3">
                Tel:<br />
                <a class="white b hover-blue-xl" href="tel:01709254444"
                  >01709 254444</a
                >
              </li>
              <li class="mv1">
                Email:<br />
                <a
                  class="white b hover-blue-xl"
                  href="mailto:towncentre@rotherham.gov.uk?subject=Website%20enquiry"
                  >towncentre@rotherham.gov.uk</a
                >
              </li>
            </ul>
            <ul class="mv0 list pl0 flex flex-row items-center">
              <li class="db pr4">
                <a
                  class="link hover dim"
                  href="https://www.facebook.com/RothTownCentre/"
                  ><img src="https://rothgov.github.io/images/facebook-icon.svg"
                /></a>
              </li>
              <li class="db">
                <a
                  class="link hover dim"
                  href="https://twitter.com/RothTownCentre/"
                  ><img src="https://rothgov.github.io/images/twitter-icon.svg"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer class="bg-blue">
      <div class="ph3">
        <div class="container center pb0 ph4-l flex flex-column justify-center">
          <div class="tc flex items-center justify-center">
            <img
              class="mv4"
              src="https://rothgov.github.io/design/images/rmbc-logo-white.svg"
              style="width:10rem;"
            />
          </div>

          <nav class="flex flex-column items-center">
            <ul class="lh-copy list pl0 flex flex-row items-center">
              <li class="ma3">
                <a
                  class="link hover dim flex"
                  href="http://www.facebook.com/RotherhamCouncil"
                  ><img
                    src="https://rothgov.github.io/design/images/icon-facebook-white.svg"
                    style="height: 2.25rem;"
                /></a>
              </li>
              <li class="ma3">
                <a
                  class="link hover dim flex"
                  href="http://www.twitter.com/RMBCPress"
                  ><img
                    src="https://rothgov.github.io/design/images/icon-twitter-white.svg"
                    style="height: 2.25rem;"
                /></a>
              </li>
              <li class="ma3">
                <a
                  class="link hover dim flex"
                  href="https://www.youtube.com/user/RotherhamMBC"
                  ><img
                    src="https://rothgov.github.io/design/images/icon-youtube-white.svg"
                    style="height: 2.25rem;"
                /></a>
              </li>
              <li class="ma3">
                <a
                  class="link hover dim flex"
                  href="http://www.instagram.com/rotherhamcouncil"
                  ><img
                    src="https://rothgov.github.io/design/images/icon-instagram-white.svg"
                    style="height: 2.25rem;"
                /></a>
              </li>
              <li class="ma3">
                <a
                  class="link hover dim flex"
                  href="http://www.linkedin.com/company/rotherhamcouncil"
                  ><img
                    src="https://rothgov.github.io/design/images/icon-linkedin-white.svg"
                    style="height: 2.25rem;"
                /></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="pv1 ph3 bg-blue-d white">
        <div class="center mw8 ph4-l">
          <ul
            class="list pl0 f6 flex flex-column flex-row-l justify-around-l tc"
          >
            <li class="mv2 mv0-l">
              &copy; 2020 &ndash; Rotherham Metropolitan Borough Council
            </li>
          </ul>
        </div>
      </div>
    </footer>
