<footer class="bg-blue">
  <div class="ph3">
    <div class="container center pb0 ph4-l flex flex-column justify-center">
      <div class="tc flex items-center justify-center" id="logo"><img class="mv4" src="https://rothgov.github.io/design/images/rmbc-logo-white.svg" style="width:10rem;"></div>
      <nav class="flex flex-column items-center" id="social-links">
        <ul class="lh-copy list pl0 flex flex-row items-center">
          <li class="ma3">
            <a class="link hover dim flex" href="http://www.facebook.com/RotherhamCouncil"><img src="https://rothgov.github.io/design/images/icon-facebook-white.svg" style="height: 2.25rem;"></a>
          </li>
          <li class="ma3">
            <a class="link hover dim flex" href="http://www.twitter.com/RMBCPress"><img src="https://rothgov.github.io/design/images/icon-twitter-white.svg" style="height: 2.25rem;"></a>
          </li>
          <li class="ma3">
            <a class="link hover dim flex" href="https://www.youtube.com/user/RotherhamMBC"><img src="https://rothgov.github.io/design/images/icon-youtube-white.svg" style="height: 2.25rem;"></a>
          </li>
          <li class="ma3">
            <a class="link hover dim flex" href="http://www.instagram.com/rotherhamcouncil"><img src="https://rothgov.github.io/design/images/icon-instagram-white.svg" style="height: 2.25rem;"></a>
          </li>
          <li class="ma3">
            <a class="link hover dim flex" href="http://www.linkedin.com/company/rotherhamcouncil"><img src="https://rothgov.github.io/design/images/icon-linkedin-white.svg" style="height: 2.25rem;"></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="pv1 ph3 bg-blue-d white" id="colophon">
    <div class="center mw8 ph4-l">
      <ul class="list pl0 f6 flex flex-column flex-row-l justify-around-l tc">
        <li class="mv2 mv0-l">&copy; 2019 &ndash; Rotherham Metropolitan Borough Council</li>
      </ul>
    </div>
  </div>
</footer>
