<header class="ph3 ph5-l bb bw1 b--blue">
      <div
        class="pv2 container center flex flex-row justify-between items-center ph3-l"
      >
        <div>
          <p class="mv3">
            <a class="link blue hover dim" href="/" title="Home"
              ><img
                style="width:9rem;"
                src="https://rothgov.github.io/design/images/rmbc-logo-blue.svg"
            /></a>
          </p>
        </div>
        <nav class="f5">
          <ul class="mv0 list pl0 flex flex-row items-center">
            <li class="db">
              <a class="link hover dim mh3 blue hover dim" href="/page2.html"
                >Page 2</a
              >
            </li>
            <li class="db">
              <a class="link hover dim mh3 blue hover dim" href="/page3.html"
                >Page 3</a
              >
            </li>
            <li class="db">
              <a class="link hover dim mh3 blue hover dim" href="/page4.html"
                >Page 4</a
              >
            </li>
            <li class="db">
              <a class="link hover dim mh3 blue hover dim" href="#contact"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
