<header class="ph3 ph5-l">
      <div
        class="pv2 container center flex flex-row justify-between items-center ph3-l"
      >
        <div>
          <p class="mv3">
            <a class="link blue hover dim" href="/town-centre/" title="Home"
              ><img
                style="width:9rem;"
                src="https://rothgov.github.io/design/images/rmbc-logo-blue.svg"
            /></a>
          </p>
        </div>
        <nav class="f5">
          <ul class="mv0 list pl0 flex flex-row items-center">
            <li class="db">
              <a class="link hover dim mh3 blue hover dim" href="/town-centre/living"
                >Living</a
              >
            </li>
            <li class="db">
              <a class="link hover dim mh3 blue hover dim" href="/town-centre/studying"
                >Studying</a
              >
            </li>
            <li class="db">
              <a class="link hover dim mh3 blue hover dim" href="/town-centre/enjoying"
                >Enjoying</a
              >
            </li>
            <li class="db">
              <a class="link hover dim mh3 blue hover dim" href="/town-centre/travelling"
                >Travelling</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
<section
      class="white cover bg-center"
      style="background-image: url(https://rothgov.github.io/transforming-rotherham/images/forge-island-1.jpg)"
    >
      <div
        class="flex items-center justify-center ph3"
        style="background-color: rgba(0,37,84,0.8);"
      >
        <div class="pv4 pv5-l mw7">
          <h1>
            <img
              alt="Rotherham Town Centre logo"
              class="db w6 mv5-m mv5-l"
              src="https://rothgov.github.io/transforming-rotherham/images/rotherham-town-centre-logo-white.svg"
              title="Rotherham Town Centre"
            />
          </h1>
        </div>
      </div>
    </section>
